<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >       

    <head th:replace="layout/plantilla :: head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Formulario Persona</title>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>    

    </head>

    <body>

        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section>  



        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <i class="fa fa-cog"></i> INGRESAR PERSONA
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <hr>



        <div class="container"> 
            <div class="card">
                <h4 class="card-header"><strong>Datos Persona</strong></h4>              
                <div class="card-body">
                    <form th:action="@{/apisacramento/save_perso}" th:object="${persona}" method="post" enctype="multipart/form-data">             
                        <section th:replace="layout/botonesEditar :: botonesEditar"></section>
                        
                        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                            Por favor corrija los siguientes errores:
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                            </ul>
                        </div>      
                        
                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="identificacion" >Identificación</label>
                                    <input type="hidden" th:field="*{idPersona}"/> 
                                    <input type="text" class="form-control" th:field="*{identificacion}"  required="true">
                                </div> 
                            </div> 



                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="tipoIdentificacion">Tipo Identificación </label>
                                    <select class="form-control" name="tipoIdentificacion"  th:field="*{tipoIdentificacion.idTipoIdentificacion}" id="tipoIdentificacion">

                                        <option th:each="tipoIdentificacion : ${tipoIdentificaciones}" 
                                                th:value="${tipoIdentificacion.idTipoIdentificacion}"
                                                th:text="${tipoIdentificacion.nombreTipoIdentificacion}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 

                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="primerNombre" >Primer Nombre</label>                                    
                                    <input type="text" class="form-control" th:field="*{primerNombre}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="segundoNombre" >Segundo Nombre</label>
                                    <input type="text" class="form-control" th:field="*{segundoNombre}"  required="false">
                                </div> 
                            </div>    
                        </div> 



                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="primerApellido" >Primer Apellido</label>
                                    <input type="text" class="form-control" th:field="*{primerApellido}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="segundoApellido" >Segundo Apellido</label>
                                    <input type="text" class="form-control" th:field="*{segundoApellido}"  required="true">
                                </div> 
                            </div> 
                        </div> 


                        <div class="row">
                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="estado">Estado</label>
                                    <select class="form-control" name="estado" th:field="*{estado}" id="estado">
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>                                                                         
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="fechaNacimiento">Fecha Nacimiento</label>
                                    <input type="text" class="form-control" name="fechaNacimiento" th:field="*{fechaNacimiento}" id="fechaNacimiento" placeholder="Fecha Nacimiento" required="required">
                                </div>  
                            </div>


                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="genero">Género </label>
                                    <select class="form-control" name="genero"  th:field="*{genero.idGenero}" id="genero">

                                        <option th:each="genero : ${generos}" 
                                                th:value="${genero.idGenero}"
                                                th:text="${genero.nombreGenero}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 



                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="direccion" >Dirección</label>
                                    <input type="text" class="form-control" th:field="*{direccion}"  required="true">
                                </div> 
                            </div>    

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="telefono" >Teléfono</label>
                                    <input type="text" class="form-control" th:field="*{telefono}"  required="true">
                                </div> 
                            </div>    

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="email" >Email</label>
                                    <input type="text" class="form-control" th:field="*{email}"  required="true">
                                </div> 
                            </div>    
                        </div> 

                        <div class="row">

                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="pais">País </label>
                                    <select class="form-control" name="pais"  th:field="*{pais.idPais}" id="pais">

                                        <option th:each="pais : ${paises}" 
                                                th:value="${pais.idPais}"
                                                th:text="${pais.nombrePais}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>


                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="fechaf">Fecha Defunción</label>
                                    <input type="text" class="form-control" name="fechaf" th:field="*{fechaDefuncion}" id="fechaf" placeholder="Fecha Defunción" >
                                </div>  
                            </div>                                        
                        </div>


                </div>
                </form>
            </div>
        </div>
    </div> 



    <footer th:replace="layout/plantilla :: footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>         
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- static.sidebar -->
    <!--   <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
    <script  th:src="@{/sidebar/script.js}"></script>
    <!--end static.sidebar -->

    <script>
        $(function () {
            $("#fechaNacimiento").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );
        $(function () {
            $("#fechaf").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );

        tinymce.init({
            selector: '#detalles',
            plugins: "textcolor, table lists code",
            toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
    | bullist numlist outdent indent | forecolor backcolor table code"
        });

    </script>


</div>




</body>

</html>
