<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado Título Párraco</title>
    </head>
    <body>
        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section> 
        <main role="main">  
            
            <div class="container">
                <section id="main-header" class="py-4 mb-4 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" >
                                <a th:href="@{/apisacramento/crear_parraco}" class="btn btn-primary btn-block" >
                                    <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                
                    <div class="card">
                        <div class="card-header">
                            <h4> PÁRRACO</h4>
                        </div>
                        <div class="card-body">

                            <div th:if="${parracos != null and !parracos.empty}" > </div>
                            
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>   
                                        <th>Nombre</th> 
                                        <th>Fecha Desde</th>
                                        <th>Fecha Hasta</th>
                                        <th>Estado</th>
                                        
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="perparraco, contador : ${perparracos}">
                                        <td>[[${contador.count}]]</td> 
                                        <td>[[${perparraco.primerNombre}+ ' ' +${perparraco.primerApellido}+ ' ' +${perparraco.segundoApellido}]]  </td>                                         
                                        <td th:text="${perparraco.parraco[0].fechaDesde}">fechaDesde</td>
                                        <td th:text="${perparraco.parraco[0].fechaHasta}">fechaHasta</td>
                                        <td th:text="${perparraco.parraco[0].estado}">estado</td>
                                         
                                        <td>
                                            <a  th:href="@{/apisacramento/editparraco/{id} (id= ${perparraco.parraco[0].idParraco})} " class="btn btn-secondary">
                                                <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                            </a>

                                        </td> 

                                        <td>
                                            <a th:href="@{/apisacramento/deleteparraco/{id} (id=${perparraco.parraco[0].idParraco}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-dark" >
                                                <i class="fas fa-angle-double-right" ></i>  [[#{accion.eliminar}]] 
                                            </a>

                                        </td>
                                         
                                    </tr>
                                </tbody>


                            </table>
                           
                            <nav th:if="${perparracos.totalPages > 0}" aria-label="Page navigation example" >
                                <ul class="pagination">         
                                    <li class="page-item"><a th:href="@{/apisacramento/indexPaginatePersonaParraco(page=${perparracos.number - 1})}" class="page-link">Anterior</a></li>			    
                                    <li class="page-item"><a th:href="@{/apisacramento/indexPaginatePersonaParraco(page=${perparracos.number + 1})}" class="page-link">Siguiente</a></li>
                                </ul>
                            </nav>
                             
                        </div>
                    </div>
                
            </div>
        </main>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
        <!-- static.sidebar -->
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
        <script  th:src="@{/sidebar/script.js}"></script>
        <!--end static.sidebar -->
    </body>
</html>
