<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar País</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarPais">
            <div id="agregarPais" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar País</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div> 
                        <form th:action="@{generalperso/save_pais}" th:object="${pais}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">

                                    <label for="nombrePais" >Nombre País</label>
                                    
                                    
                                </div>
                                
                                
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                                </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
