<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarPersona">
            <div id="agregarPersona" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Persona</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div> 
                        <form th:action="@{/guardar}" th:object="${persona}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="identificacion" >Identificación</label>
                                    <input type="hidden" th:field="*{idPersona}"/> 
                                    <input type="text" class="form-control" th:field="*{identificacion}"  required="true">
                                </div> 
                            </div> 



                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="tipoIdentificacion">Tipo Identificación </label>
                                    <select class="form-control" name="tipoIdentificacion"  th:field="*{tipoIdentificacion.idTipoIdentificacion}" id="tipoIdentificacion">

                                        <option th:each="tipoIdentificacion : ${tipoIdentificaciones}" 
                                                th:value="${tipoIdentificacion.idTipoIdentificacion}"
                                                th:text="${tipoIdentificacion.nombreTipoIdentificacion}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 

                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="primerNombre" >Primer Nombre</label>                                    
                                    <input type="text" class="form-control" th:field="*{primerNombre}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="segundoNombre" >Segundo Nombre</label>
                                    <input type="text" class="form-control" th:field="*{segundoNombre}"  required="false">
                                </div> 
                            </div>    
                        </div> 



                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="primerApellido" >Primer Apellido</label>
                                    <input type="text" class="form-control" th:field="*{primerApellido}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="segundoApellido" >Segundo Apellido</label>
                                    <input type="text" class="form-control" th:field="*{segundoApellido}"  required="true">
                                </div> 
                            </div> 
                        </div> 


                        <div class="row">
                            

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="fechaNacimiento">Fecha Nacimiento</label>
                                    <input type="text" class="form-control" name="fechaNacimiento" th:field="*{fechaNacimiento}" id="fechaNacimiento" placeholder="Fecha Nacimiento" required="required">
                                </div>  
                            </div>


                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="genero">Género </label>
                                    <select class="form-control" name="genero"  th:field="*{genero.idGenero}" id="genero">

                                        <option th:each="genero : ${generos}" 
                                                th:value="${genero.idGenero}"
                                                th:text="${genero.nombreGenero}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 
                                 
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
