<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/jumbotron.css}"/>
            <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/cheatsheet.js}"></script>

            <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>


            <!-- static.sidebar -->



            <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'/>

            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'/>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css'/>
            <link  th:href="@{/sidebar/style.css}" rel="stylesheet"/>


            <!--end static.sidebar -->

            <style>


                .nav-form-control {
                    background-color: #3cb4ab;
                    border-color: #eedd82;
                    padding: 0 0 0 0;                    
                }

                header {
                    background-image: url('/../images/imagen3.png');
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                    padding: 0 0 0 0;


                }
                .padding
                {                   
                    padding: 0px 0px 0px 50px;
                }





            </style>

    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                <div class="container">
                    <img src="/../images/logo260.jpg" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         aria-hidden="true" class="me-2 padding" viewBox="0 0 24 24"  />

                    <a class="navbar-brand d-flex align-items-center">
                        <strong>
                            Sacramento </br>
                            Digital
                        </strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Feligreses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Consulta Feligreses</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Registrar Sacramentos</a>
                            </li>

                        </ul>
                        <form class="d-flex">
                            <input class="form-control nav-form-control me-2" type="search" placeholder="Search"
                                   aria-label="Search" />
                            <button class="btn btn-outline-light" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>


        <footer th:fragment="footer" class="text-center my-5">
            <p>Parroquia San Juan Apóstol</p>
            <p>@SanJuanApostolGYE · Organización religiosa</p>
        </footer>

        <!-- static.sidebar -->
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
        <script  th:src="@{/sidebar/script.js}"></script>
        <!--end static.sidebar -->
    </body>
</html>
