<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>TipoSacramento</h1>
         <br/>
        <div th:if="${estadosacramentos != null and !estadosacramentos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="estadosacramento : ${estadosacramentos}">
                    <td th:text="${estadosacramento.descripcionestadosacramento}">Mostrar Tipo Sacramento</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${estadosacramentos == null or estadosacramentos.empty}">
            La lista de tipo de Sacramento está vacía
        </div>
        
    </body>
</html>
