<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Genero</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Genero</h1>
         <br/>
        <div th:if="${generos != null and !generos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="genero : ${generos}">
                    <td th:text="${genero.nombregenero}">Mostrar Nombre Genero</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${generos == null or generos.empty}">
            La lista de genero está vacía
        </div>
        
    </body>
</html>
