<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
         <br/>
         <a th:href="@{/pais}">Lista de País</a>
         <br/>
         <a th:href="@{/genero}">Lista de Genero</a>
         <br/>
         <a th:href="@{/tipoident}">Lista de Tipo Identificación</a>
          <br/>
         <a th:href="@{/tiposacramento}">Lista de Tipo Sacramento</a>
        
        
    </body>
</html>
