<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
         <br/>
        <div th:if="${paises != null and !paises.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="pais : ${paises}">
                    <td th:text="${pais.nombrePais}">Mostrar Nombre Pais</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${paises == null or paises.empty}">
            La lista está vacía
        </div>
        
    </body>
</html>
