<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
         <br/>
        <div th:if="${parroquias != null and !parroquias.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="parroquia : ${parroquias}">
                    <td th:text="${parroquia.nombreparroquia}">Mostrar Nombre Pais</td>
                </tr>
            </table>
        </div>
        <div th:if="${parroquias == null or parroquias.empty}">
            La lista está vacía
        </div>
        
    </body>
</html>