<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
         <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.identificacion}">Identificacion</td>
                    <td th:text="${persona.primerNombre}">Mostrar Nombre </td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista está vacía
        </div>
        
    </body>
</html>
