<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TipoIdentificacion</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>TipoIdentificacion</h1>
         <br/>
        <div th:if="${tipoidents != null and !tipoidents.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="tipoident : ${tipoidents}">
                    <td th:text="${tipoident.nombretipoidentificacion}">Mostrar Tipo Identificación</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${tipoidents == null or tipoidents.empty}">
            La lista de tipo de identificación está vacía
        </div>
        
    </body>
</html>
