<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TipoSacramento</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>TipoSacramento</h1>
         <br/>
        <div th:if="${tiposacramentos != null and !tiposacramentos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="tiposacramento : ${tiposacramentos}">
                    <td th:text="${tiposacramento.nombretiposacramentocol}">Mostrar Tipo Sacramento</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${tiposacramentos == null or tiposacramentos.empty}">
            La lista de tipo de Sacramento está vacía
        </div>
        
    </body>
</html>
