<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
         <br/>
        <div th:if="${tituloparracos != null and !tituloparracos.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    
                </tr>
                <tr th:each="tituloparraco : ${tituloparracos}">
                    <td th:text="${tituloparraco.nombrepais}">Mostrar Nombre Pais</td>
                    
                </tr>
            </table>
        </div>
        <div th:if="${tituloparracos == null or tituloparracos.empty}">
            La lista está vacía
        </div>
        
    </body>
</html>