<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >       

    <head th:replace="layout/plantilla :: head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Formulario Sacramento</title>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>    

    </head>

    <body>

        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section>  



        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <i class="fa fa-cog"></i> BAUTIZO
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <hr>



        <div class="container"> 
            <div class="card">
                <h4 class="card-header"><strong>Información de Bautizo</strong></h4>              
                <div class="card-body">
                    <section th:replace="layout/botonesEditar :: botonesEditar"></section>



                    <div class="row">
                        <div class="col-md-10 offset-md-2 mt-5 fancy-forms">
                            <!-- <div class="cardbox"> -->
                            <ul class="nav nav-tabs  mt-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="login" data-toggle="tab" href="#login_form" role="tab" aria-controls="login" aria-selected="true">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="signup" data-toggle="tab" href="#signup_form" role="tab" aria-controls="signup" aria-selected="false">SignUp</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="login_form" role="tabpanel" aria-labelledby="login">
                                    <div class="fancyformcontainer">

                                        <h3 class="text-center">Login</h3>
                                        <form th:action="@{/apisacramento/save_perso}" th:object="${persona}" method="post" enctype="multipart/form-data">


                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label for="identificacion" >Identificación</label>
                                                        <input type="hidden" th:field="*{idPersona}"/> 
                                                        <input type="text" class="form-control" th:field="*{identificacion}"  required="true">
                                                    </div> 
                                                </div> 



                                                <div class="col-md-3"> 
                                                    <div class="form-group">

                                                        <label for="tipoIdentificacion">Tipo Identificación </label>
                                                        <select class="form-control" name="tipoIdentificacion"  th:field="*{tipoIdentificacion.idTipoIdentificacion}" id="tipoIdentificacion">

                                                            <option th:each="tipoIdentificacion : ${tipoIdentificaciones}" 
                                                                    th:value="${tipoIdentificacion.idTipoIdentificacion}"
                                                                    th:text="${tipoIdentificacion.nombreTipoIdentificacion}" >                                                           

                                                            </option>

                                                        </select>

                                                    </div>
                                                </div>

                                            </div> 

                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label for="primerNombre" >Primer Nombre</label>                                    
                                                        <input type="text" class="form-control" th:field="*{primerNombre}"  required="true">
                                                    </div> 
                                                </div>  

                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label for="segundoNombre" >Segundo Nombre</label>
                                                        <input type="text" class="form-control" th:field="*{segundoNombre}"  required="false">
                                                    </div> 
                                                </div>    
                                            </div> 



                                            <div class="row">
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label for="primerApellido" >Primer Apellido</label>
                                                        <input type="text" class="form-control" th:field="*{primerApellido}"  required="true">
                                                    </div> 
                                                </div>  

                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label for="segundoApellido" >Segundo Apellido</label>
                                                        <input type="text" class="form-control" th:field="*{segundoApellido}"  required="true">
                                                    </div> 
                                                </div> 
                                            </div> 



                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="signup_form" role="tabpanel" aria-labelledby="signup">
                                    <div class="fancyformcontainer">
                                        <h3 class="text-center">Sign Up</h3>
                                        <form>
                                            <div class="form-group mt-4">
                                                <label for="email_id">Email address</label>
                                                <input type="email" class="form-control" id="email_id" placeholder="Enter valid email address">
                                            </div>
                                            <div class="form-group mt-4">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Please provide password">
                                            </div>
                                            <div class="form-group mt-4">
                                                <label for="password">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirm password" placeholder="Please retype password and try agaib">
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn formsubmitbtn">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- 	</div> -->
                        </div>
                    </div>




                </div> 



                <footer th:replace="layout/plantilla :: footer"></footer>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

                <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>         
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                <!-- static.sidebar -->
                <!--   <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>-->
                <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
                <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
                <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
                <script  th:src="@{/sidebar/script.js}"></script>
                <!--end static.sidebar -->

                <script>
                    $(function () {
                        $("#rcfecha").datepicker({dateFormat: 'dd-mm-yy'});
                    }
                    );

                    $(function () {
                        $("#fechaSacramento").datepicker({dateFormat: 'dd-mm-yy'});
                    }
                    );
                    tinymce.init({
                        selector: '#detalles',
                        plugins: "textcolor, table lists code",
                        toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                | bullist numlist outdent indent | forecolor backcolor table code"
                    });


                    $(function () {

                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                            localStorage.setItem('lastTab', $(this).attr('href'));
                        });
                        var lastTab = localStorage.getItem('lastTab');

                        if (lastTab) {
                            $('[href="' + lastTab + '"]').tab('show');
                        }

                    });


                </script>


            </div>




    </body>

</html>
