<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >       

    <head th:replace="layout/plantilla :: head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Formulario Sacramento</title>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>    

    </head>

    <body>

        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section>  



        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <i class="fa fa-cog"></i> SOLICITUD DE BAUTIZO
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <hr>



        <div class="container"> 
            <div class="card">
                <h4 class="card-header"><strong>Datos Generales</strong></h4>              
                <div class="card-body">
                    <div class="row">
                        <h6 class="card-title"><strong>Parroquia: </strong><span th:text="${parroquia.nombreParroquia}">1</span></h6>                                             

                        <div class="col-md-6"> 
                            <div class="form-group">
                                <label for="fechaSacramento" >Fecha Sacramento</label>
                                <input type="hidden" th:field="*{sacramento.idSacramento}"/> 
                                <input type="text" class="form-control" th:field="*{fechaSacramento}"  required="true">
                            </div> 
                        </div> 


                    </div> 
                </div>  

                <div class="card-body">
                    <h4 class="card-header"><strong>Datos Del Padre</strong></h4>   
                    <section th:replace="layout/editarCliente :: editarCliente"></section>
                </div>     
            </div>
        </div>
    </div> 



    <footer th:replace="layout/plantilla :: footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>         
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- static.sidebar -->
    <!--   <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
    <script  th:src="@{/sidebar/script.js}"></script>
    <!--end static.sidebar -->

    <script>
        $(function () {
            $("#rcfecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );

        $(function () {
            $("#fechaSacramento").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );
        tinymce.init({
            selector: '#detalles',
            plugins: "textcolor, table lists code",
            toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
    | bullist numlist outdent indent | forecolor backcolor table code"
        });

    </script>


</div>




</body>

</html>
