<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >       

    <head th:replace="layout/plantilla :: head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Formulario Sacramento</title>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>    

    </head>

    <body>

        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section>  



        <section id="main-header" class="py-2 bg-info text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <i class="fa fa-cog"></i> INGRESAR SACRAMENTO
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <hr>



        <div class="container"> 
            <div class="card">
                <h4 class="card-header"><strong>Datos Persona</strong></h4>              
                <div class="card-body">
                    <form th:action="@{/apisacramento/save_sacramento}" th:object="${sacramento}" method="post" enctype="multipart/form-data">             
                        <section th:replace="layout/botonesEditar :: botonesEditar"></section>

                        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
                            Por favor corrija los siguientes errores:
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                            </ul>
                        </div>      

                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="fechaSacramento" >Fecha Sacramento</label>
                                    <input type="hidden" th:field="*{idSacramento}"/> 
                                    <input type="text" class="form-control" th:field="*{fechaSacramento}"  required="true">
                                </div> 
                            </div> 



                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="estadoSacramento">Estado Sacramento </label>
                                    <select class="form-control" name="estadoSacramento"  th:field="*{estadoSacramento.idEstadoSacramento}" id="estadoSacramento">

                                        <option th:each="estadoSacramento : ${estadosacramentos}" 
                                                th:value="${estadoSacramento.idEstadoSacramento}"
                                                th:text="${estadoSacramento.descripcionEstadoSacramento}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 

                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="tomoSacramento" >Tomo Sacramentoe</label>                                    
                                    <input type="text" class="form-control" th:field="*{tomoSacramento}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="paginaSacramento" >Página Sacramento</label>
                                    <input type="text" class="form-control" th:field="*{paginaSacramento}"  required="false">
                                </div> 
                            </div>    
                        </div> 



                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="numeroSacramento" >No. Sacramento</label>
                                    <input type="text" class="form-control" th:field="*{numeroSacramento}"  required="true">
                                </div> 
                            </div>  

                            <div class="col-md-6" col-sm-3 col-xs-3> 
                                <div class="form-group">
                                    <label for="rcAño" >Año</label>
                                    <input type="text" class="form-control" th:field="*{rcAño}" placeholder="YYYY"  required="true">
                                </div> 
                            </div> 
                        </div> 


                        <div class="row">

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="rcfecha">Fecha </label>
                                    <input type="text" class="form-control" name="rcfecha" th:field="*{rcFecha}" id="rcfecha" placeholder="Fecha" required="required">
                                </div>  
                            </div>


                            <div class="col-md-3"> 
                                <div class="form-group">

                                    <label for="tipoSacramento">Tipo Sacramentos </label>
                                    <select class="form-control" name="tipoSacramento"  th:field="*{tipoSacramento.idTipoSacramento}" id="tipoSacramento">

                                        <option th:each="tiposacramento : ${tiposacramentos}" 
                                                th:value="${tiposacramento.idTipoSacramento}"
                                                th:text="${tiposacramento.nombreTipoSacramento}" >                                                           

                                        </option>

                                    </select>

                                </div>
                            </div>

                        </div> 



                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="form-group">
                                    <label for="rcTomo" >Tomo</label>
                                    <input type="text" class="form-control" th:field="*{rcTomo}"  required="true">
                                </div> 
                            </div>    

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="rcActa" >Acta</label>
                                    <input type="text" class="form-control" th:field="*{rcActa}"  required="true">
                                </div> 
                            </div>    

                            <div class="col-md-3"> 
                                <div class="form-group">
                                    <label for="observacion" >observación</label>
                                    <input type="text" class="form-control" th:field="*{observacion}"  required="true">
                                </div> 
                            </div>    

                            <div class="col-md-3">                                 
                                <div class="form-check">
                                    <label>Firma</label>
                                    <input type="checkbox" th:field="*{firma}" id="firma" name="firma" value="true"/>
                                </div>
                            </div>    
                        </div> 




                </div>
                </form>
            </div>
        </div>
    </div> 



    <footer th:replace="layout/plantilla :: footer"></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>         
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- static.sidebar -->
    <!--   <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
    <script  th:src="@{/sidebar/script.js}"></script>
    <!--end static.sidebar -->

    <script>
        $(function () {
            $("#rcfecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );

        $(function () {
            $("#fechaSacramento").datepicker({dateFormat: 'dd-mm-yy'});
        }
        );
        tinymce.init({
            selector: '#detalles',
            plugins: "textcolor, table lists code",
            toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
    | bullist numlist outdent indent | forecolor backcolor table code"
        });

    </script>


</div>




</body>

</html>
