<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado Sacramento</title>
    </head>
    <body>
        <section th:replace="layout/sidebarstwo :: sidebarstwo">  </section> 

        <main role="main">  


            <div class="container">
                <section id="main-header" class="py-4 mb-4 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3" >
                                <a th:href="@{/apisacramento/crear_sacramento}" class="btn btn-primary btn-block" >
                                    <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </section>


                <div class="card">
                    <div class="card-header">
                        <h4> SACRAMENTO</h4>
                    </div>
                    <div class="card-body">

                        <div th:if="${tipsacramentos != null and !tipsacramentos.empty}" > </div>

                        <table class="table table-stryped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Id Tipo</th>
                                    <th>Nombre Sacramento</th>
                                    <th>Fecha Sacramento</th>
                                    <th>Id Sacramento</th>
                                    <th>Nombre</th>

                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr th:each="tipsacramento, contador : ${tipsacramentos}"> 
                                    <td>[[${contador.count}]] </td>
                                    <td th:text="${tipsacramento.tipoSacramento.idTipoSacramento}">idTipoSacramento</td>
                                    <td th:text="${tipsacramento.tipoSacramento.nombreTipoSacramento}">nombreTipoSacramento</td>
                                    <td th:text="${tipsacramento.fechaSacramento}">fechaSacramento</td>
                                    <td th:text="${tipsacramento.idSacramento}">idSacramento</td>
                                    <td th:text="${tipsacramento.persona[0].persona.primerNombre} + ' ' +${tipsacramento.persona[0].persona.primerApellido}+ ' ' +${tipsacramento.persona[0].persona.segundoApellido}">Nombre</td>
                                    
                                    <td>
                                        <a  th:href="@{/apisacramento/editsacramento/{id} (id= ${tipsacramento.idSacramento})} " class="btn btn-secondary">
                                            <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                        </a>

                                    </td> 

                                    <td>
                                        <a th:href="@{/apisacramento/deletesacramento/{id} (id=${tipsacramento.idSacramento}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-dark" >
                                            <i class="fas fa-angle-double-right" ></i>  [[#{accion.eliminar}]] 
                                        </a>

                                    </td>
                                </tr>

                            </tbody>



                        </table>

                        <nav th:if="${tipsacramentos.totalPages > 0}" aria-label="Page navigation example" >
                            <ul class="pagination">         
                                <li class="page-item"><a th:href="@{/apisacramento/indexPaginateSacramentoPer(page=${tipsacramentos.number - 1})}" class="page-link">Anterior</a></li>			    
                                <li class="page-item"><a th:href="@{/apisacramento/indexPaginateSacramentoPer(page=${tipsacramentos.number + 1})}" class="page-link">Siguiente</a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="layout/plantilla :: footer"></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <!-- static.sidebar -->
        <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js'></script>
        <script  th:src="@{/sidebar/script.js}"></script>
        <!--end static.sidebar -->
    </body>
</html>
